/*core config.*/

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&family=Sriracha&display=swap');

*{
  margin: 0px;
  padding: 0px;
  font-size: 1em;
}

html,body{
  min-height: 100vh;
  font-family: var(--fonte1);
  background-color: darkgray;
}

:root{
  --fonte1: Verdana, Geneva, Tahoma, sans-serif;
  --fonte2: 'Passion One', cursive;
  --fonte3: 'Sriracha', cursive;
}

/*core config.*/

/*header config.*/

header{
  background-color: black;
  color: white;
  text-align: center;
  padding: 50px;
  font-weight: bold;
  
}

header h1{
  padding-top: 50px;
  font-size: 10em;
  font-family: var(--fonte2);
  font-variant: small-caps;
}

header p{
  font-family: var(--fonte1);
  padding-bottom: 50px;
}

header a{
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

header a:hover{
  text-decoration: underline;
}

/*header config.*/

/*body config.*/

section{
  padding-top: 10vh;
  padding-bottom: 10vh;
  line-height: 2em;
  padding-left: 30px;
  font-family: var(--fonte3);
  font-size: 3.5vw;
}

section > pre{
  padding-bottom: 2em;}

section.default{
  color: black;
}
section.parallax{
  color: white;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.514);
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
  background-size: cover;
}

section.parallax > pre{
  display: inline-block;
  padding: 6px;
  background-color: rgba(0, 0, 0, 0.514);
  text-shadow: 1px 1px 0px black;
}

section > pre{
  white-space: pre-line;
  font-family: var(--fonte3);
}

#img01{
  background-image: url(imagens/background001.jpg);
  background-position: right center;
}
#img02{
  background-image: url(imagens/background002.jpg);
}

/*body config.*/

/*footer config.*/

footer{
  background-color: black;
  color: white;
  padding: 10px;
  font-family: var(--fonte1);
  font-weight: bold;
  text-align: center;
}

footer .github{
  color: yellow;
  text-decoration: none;
}

footer .site{
  color: rgb(79, 79, 231);
  text-decoration: none;
}
footer a:hover{
  text-decoration: underline;
}

/*footer config.*/